<div class="container main-container">
    <h3>Cadastro de Aluno</h3>
    <br>
   
        <div class="row">
            <div class="col-md-4">
                <label for="nome">Nome</label>
                <input class="form-control" id="nome" type="text" placeholder="Nome (requerido)"
                    />
            </div>
            <div class="col-md-3">
                <label for="nascimento">Nascimento</label>
                <input class="form-control" id="nascimento" type="date" placeholder="nascimento (requerido)"
                    />
            </div>
            <div class="col-md-1">
                <label for="idade">Idade</label>
                <input class="form-control" id="idade" type="number" placeholder="0"
                   />
            </div>
        </div>

        <div class="row">
            <div class="col-md-2">
                <label for="cpf">Matricula</label>
                <input class="form-control" id="matricula" type="text" placeholder="Matricula (requerido)"  />
            </div>
            <div class="col-md-2">
                <label for="serie">Serie Cursando</label>
                <input class="form-control" id="serie" type="text" placeholder="Serie (requerido)" />
            </div>
           
        </div>

        <div class="row">
            <div class="col-md-4">
                <label for="email">Responsavel Financeiro</label>
                <input class="form-control" id="responsavelFinanceiro" type="text" 
                    />
            </div>
            <div class="col-md-4">
                <label for="email">Responsavel Academico</label>
                <input class="form-control" id="responsavelFinanceiro" type="text" 
                    />
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label for="email">Tel: Responsavel Financeiro</label>
                <input class="form-control" id="responsavelFinanceiro" type="text" 
                     />
            </div>
            <div class="col-md-4">
                <label for="email">Tel:Responsavel Academico</label>
                <input class="form-control" id="responsavelFinanceiro" type="text" 
                   />
            </div>
        </div>
        <br>
        <div class="row">
           
            <div class="col-md-8 btns">
            <button type="button" class="btn btn-success btns">Salvar</button> 
            <button type="button" class="btn btn-danger btns">Cancelar</button>
            <button type="button" class="btn btn-info btns"[routerLink]="['/pessoa']">Responsáveis</button>
            <button type="button" class="btn btn-info btns">Documentos</button>
            <button type="button" class="btn btn-info btns" [routerLink]="['/financeiroAluno']">Financeiro</button>
        </div>
        </div>
        
</div>