
<div class="container">
    <div class="col-md-12 list">
<div class="card-principal">
        <div class="card">
            
            <div class="green">
                <i class="fas faDonate"></i>
                <!-- <img class="card-img-top" src="/assets/receber.jfif" height="164px" width="253px" alt=""> -->
            </div>
            <div class="card-detalhe">
                <h4 class="card-title">Contas a Receber</h4>
                <h5 class="card-text">R$ 58.134,00</h5>
            </div>
        </div>

        <div class="card">
            <div class="blue">
                <!-- <img class="" src="/assets/pagar.jfif" > -->
            </div>
            <div class="card-detalhe">
                <h4 class="card-title">Contas a Pagar</h4>
                <h5 class="card-text">R$ 38.430,56</h5>
            </div>
        </div>

    
        <div class="card">
            <div class="orange">
                <!-- <img class="card-img-top" src="/assets/receber.jfif" height="164px" width="253px" alt=""> -->
            </div>
            <div class="card-detalhe">
                <h4 class="card-title">Mensal. Atrasadas</h4>
                <h5 class="card-text">R$ 5.100,00</h5>
                <h5 class="card-text">Qtd: 8</h5>
            </div>
        </div>
    </div>
    </div>
</div>