<div class="container main-container">
    <h3>Listagem de Responsáveis</h3>
    <br>

    <div class="row">
        <div class="col-md-10">
            <label for="nome">Filtro</label>
            <input class="form-control" id="nome" type="text" placeholder="Informe o nome do responsável..."/>
        </div>
    </div>
<br>


    <div class="row">
        <div class="col-md-10">
            <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">Nome</th>
                    <th scope="col">Email</th>
                    <th scope="col">Tp Resp.</th>
                    <th scope="col">Telefone</th>
                    <th scope="col">Celular</th>
                    <th scope="col">Ações</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Luan Sebastião da Paz</td>
                    <td>lluanse@marmorariauchoa.com</td>
                    <td>Financeiro</td>
                    <td>(19)3313-1313</td>
                    <td>(19)91313-1313</td>
                    <td title="editar" (click)="editarResponsavel()"><fa-icon [icon]="faEdit"></fa-icon></td>
                  </tr>
                  <tr>
                    <td>Jéssica Malu Olivia Porto</td>
                    <td>jessicamaluoliviaporto@uel.br</td>
                    <td>Financeiro</td>
                    <td>(19)2234-5436</td>
                    <td>(19)94234-4234</td>
                    <td title="editar" (click)="editarResponsavel()"><fa-icon [icon]="faEdit"></fa-icon></td>
                  </tr>
                  <tr>
                    <td>Elza Isis Caldeira</td>
                    <td>elzaisiscaldeira@qualita.srv.br</td>
                    <td>Acadêmico</td>
                    <td>(19)6378-2456</td>
                    <td>(19)98767-3456</td>
                    <td title="editar" (click)="editarResponsavel()"><fa-icon [icon]="faEdit"></fa-icon></td>
                  </tr>
                  <tr>
                    <td>Victor Noah Silva</td>
                    <td>victornoahsilva@band.com.br</td>
                    <td>Financeiro</td>
                    <td>(19)1423-8899</td>
                    <td>(19)98709-0099</td>
                    <td title="editar" (click)="editarResponsavel()"><fa-icon [icon]="faEdit"></fa-icon></td>
                  </tr>

                  <tr>
                    <td>Giovanna Yasmin Araújo</td>
                    <td>garaujo-83@galvao.com</td>
                    <td>Acadêmico</td>
                    <td>(19)6574-3452</td>
                    <td>(19)93452-4234</td>
                    <td title="editar" (click)="editarResponsavel()"><fa-icon [icon]="faEdit"></fa-icon></td>
                  </tr>
                  <tr>
                    <td>Heloisa Mirella Luana da Paz</td>
                    <td>heloisa@siexpress.com.br</td>
                    <td>Financeiro</td>
                    <td>(19)7564-4564</td>
                    <td>(19)94545-5599</td>
                    <td title="editar" (click)="editarResponsavel()"><fa-icon [icon]="faEdit"></fa-icon></td>
                  </tr>
                  <tr>
                    <td>Isaac Enzo Vicente Cardoso</td>
                    <td>isaaccardoso_@fingrs.com.br</td>
                    <td>Acadêmico</td>
                    <td></td>
                    <td>(19)98709-0099</td>
                    <td title="editar" (click)="editarResponsavel()"><fa-icon [icon]="faEdit"></fa-icon></td>
                  </tr>
                </tbody>
                <br>
               
              </table>
              <nav aria-label="Navegação de página exemplo">
                <ul class="pagination justify-content-end">
                  <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1">Anterior</a>
                  </li>
                  <li class="page-item"><a class="page-link" href="#">1</a></li>
                  <li class="page-item"><a class="page-link" href="#">2</a></li>
                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                  <li class="page-item">
                    <a class="page-link" href="#">Próximo</a>
                  </li>
                </ul>
              </nav>
        </div>

        

    </div>

    <br>


</div>