<div class="container main-container">
    <h3>Cadastro de matéria prima</h3>
    <br>

    <div class="row">
        <div class="col-md-4">
            <label for="nome">Fornecedor</label>
            <input class="form-control" id="nome" type="text" placeholder="Nome (requerido)" />
        </div>
        <div class="col-md-4">
            <label class="col-md-4">Tipo</label>
            <div class="col-sm-10">
                <select class="form-control">
                    <option>Aluguel</option>
                    <option>Impostos</option>
                    <option>Terceiros</option>
                    <option>Juros</option>
                    <option>Diversos</option>
                    <option>Alimentação</option>
                </select>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2">
            <label for="cpf">Data Vencimento</label>
            <input class="form-control" id="matricula" type="date" />
        </div>
        <div class="col-md-2">
            <label for="serie">Valor</label>
            <input class="form-control" id="serie" type="text" placeholder="Serie (requerido)" />
        </div>
    </div>

    <div class="row">
        <!-- <div class="col-md-4">
            <label for="email">Unidade</label>
            <input class="form-control" id="responsavelFinanceiro" type="text" />
        </div> -->


        <div class="col-md-4">

            <label >Unidade</label>
            <div >
                <select class="form-control">
                    <option>Matriz</option>
                    <option>Filial</option>
                </select>
            </div>
        </div>




    </div>

    <br>
    <div class="row">

        <div class="col-md-8 btns">
            <button type="button" class="btn btn-success btns">Salvar</button>
            <button type="button" class="btn btn-danger btns" [routerLink]="['/contasapagar']">Cancelar</button>
        </div>
    </div>

</div>