<div class="container main-container">
    <h3>Listagem de fornecedores</h3>
    <br>

    <div class="row">
        <div class="col-md-10">
            <label for="nome">Filtro</label>
            <input class="form-control" id="nome" type="text" placeholder="Informe o nome do fornecedor ou cidade..."/>
        </div>
    </div>
<br>


    <div class="row">
        <div class="col-md-10">
            <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">Status</th>
                    <th scope="col">Razao</th>
                    <th scope="col">Telefone</th>
                    <th scope="col">Cnpj</th>
                    <th scope="col">Cidade</th>
                    <th scope="col">Uf</th>
                    <th scope="col">Ação</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row" title="Ativado"><div style="  border-radius: 50%;
                        display: inline-block;
                        height: 15px;
                        width: 15px;
                        border: 1px solid #00de01;
                        background-color: #00de01;"></div></th>
                    <td>Kalunga LTDA</td>
                    <td>(19)3422-1010</td>
                    <td>09.123.123/0001-90</td>
                    <td>Valinhos</td>
                    <td>SP</td>
                    <td title="editar" (click)="editar()"><fa-icon [icon]="faEdit"></fa-icon></td>
                  </tr>
                  <tr>
                    <th scope="row" title="Ativado"><div style="  border-radius: 50%;
                        display: inline-block;
                        height: 15px;
                        width: 15px;
                        border: 1px solid #00de01;
                        background-color: #00de01;"></div></th>
                    <td>Guedes Sistemas LTDA</td>
                    <td>(19)97600-6840</td>
                    <td>07.558.850/0001-90</td>
                    <td>Valinhos</td>
                    <td>SP</td>
                    <td title="editar" (click)="editar()"><fa-icon [icon]="faEdit"></fa-icon></td>
                  </tr>
                  <tr>
                    <th scope="row" title="Ativado"><div style="  border-radius: 50%;
                        display: inline-block;
                        height: 15px;
                        width: 15px;
                        border: 1px solid #00de01;
                        background-color: #00de01;"></div></th>
                    <td>Supermercado Flex</td>
                    <td>(19)4234-2421</td>
                    <td>23.657.456/0002-45</td>
                    <td>Valinhos</td>
                    <td>SP</td>
                    <td title="editar" (click)="editar()"><fa-icon [icon]="faEdit"></fa-icon></td>
                  </tr>
                  <tr>
                    <th scope="row" title="Ativado"><div style="  border-radius: 50%;
                        display: inline-block;
                        height: 15px;
                        width: 15px;
                        border: 1px solid #00de01;
                        background-color: #00de01;"></div></th>
                    <td>Prefeitura de Valinhos</td>
                    <td>(19)4526-4422</td>
                    <td>98.567.877/0001-09</td>
                    <td>Valinhos</td>
                    <td>SP</td>
                    <td title="editar" (click)="editar()"><fa-icon [icon]="faEdit"></fa-icon></td>
                  </tr>
                  <tr>
                    <th scope="row" title="Ativado"><div style="  border-radius: 50%;
                        display: inline-block;
                        height: 15px;
                        width: 15px;
                        border: 1px solid #00de01;
                        background-color: #00de01;"></div></th>
                    <td>Segurança Patrimonial</td>
                    <td>(19)3422-1010</td>
                    <td>435.313.156-09</td>
                    <td>Valinhos</td>
                    <td>SP</td>
                    <td title="editar" (click)="editar()"><fa-icon [icon]="faEdit"></fa-icon></td>
                  </tr>
                  <tr>
                    <th scope="row" title="Bloqueado"><div style="  border-radius: 50%;
                        display: inline-block;
                        height: 15px;
                        width: 15px;
                        border: 1px solid #ff765c;
                        background-color: #ff765c;"></div></th>
                    <td>Maridos de Aluguel LTDA</td>
                    <td>(19)92342-3450</td>
                    <td>89.435.522/0001-34</td>
                    <td>Campinas</td>
                    <td>SP</td>
                    <td title="editar" (click)="editar()"><fa-icon [icon]="faEdit"></fa-icon></td>
                  </tr>
                </tbody>
                <br>
               
              </table>
              <nav aria-label="Navegação de página exemplo">
                <ul class="pagination justify-content-end">
                  <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1">Anterior</a>
                  </li>
                  <li class="page-item"><a class="page-link" href="#">1</a></li>
                  <li class="page-item"><a class="page-link" href="#">2</a></li>
                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                  <li class="page-item">
                    <a class="page-link" href="#">Próximo</a>
                  </li>
                </ul>
              </nav>
        </div>

        

    </div>

    <br>


</div>